.chat .conversation {
    background: white;
    height: 400px;
    max-height: 400px;
    color: black;
    overflow-y: auto;
    list-style: none;
    padding: 5px 10px;
}

.chat .conversation .time {
  color: #127891;
  font-size: 12px;
}

.chat .conversation .user {
  font-weight: 600;
}

.chat-toolbox {
  margin-top: 5px;
}

.chat-toolbox button {
  width: 100px;
  margin-left: 5px;
}

.chat-toolbox input {
  width: calc(100% - 105px);
}